<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="themoviedb" thread-count="5" parallel="tests"  verbose="1">

    <test name="Login">
        <classes>
            <class name="specs.LoginSuccessful"/>
            <class name="specs.LoginFailed"/>
        </classes>
    </test>

    <test name="Successful search">
        <classes>
            <class name="specs.SearchSuccessful"/>
        </classes>
    </test>

    <test name="Movie Genre Filter">
        <classes>
            <class name="specs.MovieFilter"/>
        </classes>
    </test>

    <test name="Acting Timeline">
        <classes>
            <class name="specs.ActingTimeline"/>
        </classes>
    </test>

    <test name="Sort by Dates on Ascending Order">
        <classes>
            <class name="specs.MovieDatesAscOrder"/>
        </classes>
    </test>

</suite>
